<footer>
	<h2>Obrigado por nos visitar</h2>
	<p>
		Esperamos que tenha aproveitado essa interface que foi totalmento
		desenvolvida pensando no seu conforto querido usuario, por favor avalie
		nossos serviços e mande feedbacks sobre como podemos melhorar!
	</p>
	<div class="footer-horizontal">
		<div class="devs">
			<h4>Créditos</h4>
			<h5>Desenvolvedor e Designer</h5>
			<ul>
				<li>Ariel Souza</li>
			</ul>
			<h5>Conteúdo e Documentação</h5>
			<ul>
				<li>Giovana Ferreira de Pontes Lima</li>
				<li>Noemí Gabrielle de Freitas Santos</li>
				<li>Vitória Pereira Barbosa</li>
			</ul>
		</div>
		<div class="contato">
			<h4>Contato</h4>
			<ul class="dados">
				<li>Telefone: <span>+55 (85) 9 2454-2354</span></li>
				<li>Email: <span>julho_amaral@gmail.com</span></li>
				<li>
					Endereço: <span>Rua ali perto, 42 - Vasco, Rio de Janeiro - RJ</span>
				</li>
			</ul>
			<ul class="redes-sociais">
				<li>
					<a href="#"><i class="fa-brands fa-twitter"></i></a>
				</li>
				<li>
					<a target="_blank"
						href="https://www.figma.com/file/NPgcyfkWhDNMuCZm3PC3jb/MFT?node-id=1-3&t=MlwwsC5kNtWpFt2u-0"><i
							class="fa-brands fa-figma"></i></a>
				</li>
				<li>
					<a href="https://github.com/Lorsuz/MFT"><i class="fa-brands fa-github"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
				</li>
			</ul>
		</div>
		<div class="info">
			<h4>Informações</h4>
			<ul>
				<li><a href="#">Sobre</a></li>
				<li>
					<a href="#">Feedback</a>
				</li>
				<li>
					<a href="#">Apoie-nos</a>
				</li>
				<li>
					<a href="#">Desenvolvedores</a>
				</li>
				<li>
					<a href="#">Portifólio</a>
				</li>
				<li>
					<a href="#">Política de Privacidade</a>
				</li>
				<li>
					<a href="#">Termo e Condições</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="copy">
		<p>Copyright © - Todos os direitos reservados.</p>
	</div>
</footer>

<script src="/javascripts/script.js" type="module"></script>

</body>

</html>