<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			<%= pageTitle%>
		</title>
		<link rel="shortcut icon" href="/images/LOGO WEBSITE.jpg" type="image/x-icon">


		<!-- <link rel="stylesheet" href="/stylesheets/partials/header.css" /> -->
		<link rel="stylesheet" href="/stylesheets/<%= styleSheet%>.css" />
		<!-- <link rel="stylesheet" href="/stylesheets/partials/footer.css" /> -->

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<script src="//localhost:35729/livereload.js"></script>
	</head>

	<body>
		<header>
		<!-- Cabeçalho bem aqui -->
			<nav><!-- barra de navegação --></nav>
		</header>