@import 'partials/global.css';

main {
	padding: 50px 100px;

	h1 {
		font-size: 3rem;
		position: relative;
		padding-left: 20px;
		margin-bottom: 50px;

		&::before {
			content: '';
			height: 100%;
			width: 4px;
			position: absolute;
			left: -20px;
			background: var(--color-theme);

		}
	}

	section {
		margin-bottom: 70px;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		h2 {
			color: var(--color-theme);
			text-align: center;
			font-size: 2rem;
			margin-bottom: 20px;
		}

		&.form-create {

			form {
				margin: 0 auto;
				width: 500px;
				padding: 30px;
				border-radius: 10px;
				box-shadow: 0 0 15px 0 #ccc;

				h2 {
					margin-bottom: 10px;
				}

				>div {
					display: flex;
					flex-direction: column;
					margin-bottom: 20px;

					label {
						font-size: 1.2rem;
						margin-bottom: 5px;
					}

					input {
						border: 2px solid var(--color-theme);
						padding: 10px;
						font-size: 1.1rem;
						border-radius: 10px;
					}
				}

				button {
					background: var(--color-theme);
					color: var(--color-white);
					width: 100%;
					padding: 10px;
					text-transform: uppercase;
					border-radius: 10px;
					font-size: 1.3rem;
					margin-top: 10px;
				}
			}
		}

		&.products {
			display: flex;

			table {
				tr {
					&.desc {
						th {
							font-size: 1.2em;
							padding-bottom: 20px;
							border-bottom: 1px dotted #a8a8a8;
						}
					}

					&.item {
						td {
							min-width: 100px;
							text-align: center;
							padding: 10px;
							border-bottom: 1px solid #eeeeee;

							.img {
								img {
									width: 100px;
								}
							}

							i {
								font-size: 1.2rem;
							}

							&:hover {
								color: var(--color-theme);
							}
						}

						&:hover {
							background: #ececec;
						}
					}
				}
			}
		}
	}
}