<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>MR. PET</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images\icons\apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images\icons\favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images\icons\favicon-16x16.png"
    />
    <link rel="manifest" href="images\icons\site.webmanifest" />
  </head>
  <body>
    <hr id="top" />
    <div id="headiv">
      <h2 class="titley">MR. PET</h2>
      <button id="accountmsg3" type="submit"onclick="window.location.href='/my-account'">Minha conta</button>
      <button id="accountmsg4" type="submit"onclick="window.location.href='/login'">Login</button>
      <button id="accountmsg2" type="submit"onclick="window.location.href='/register'">Registre-se</button>
      
      <button id="accountmsg1" type="submit"onclick="window.location.href='/products-crud'">Gerencie</button><script></script>
      
      
      <form>
        <div id="search-container">
          <input
            type="text"
            id="search-box"
            placeholder="Algum produto em mente?"
          />
          <button id="clicsearch" type="submit">Pesquisar</button>
        </div>
      </form>
    </div>
    <div class="toolbar">
      <div class="buttons">
        <a href="/"
          ><button class="toolbar-button">Produtos</button></a
        >
        <a href="/appointments"
          ><button class="toolbar-button">Consulta</button></a
        >
        <a href="/baths"><button class="toolbar-button">Banho</button></a>
      </div>
    </div>
    <div class="sale-box">
      <a href="/"
        ><img
          id="saleimg"
          src="https://images.tcdn.com.br/img/img_prod/1059813/1673293045_sache-gato.png"
      /></a>
    </div>

    <ul class="catalog" id="catalog"></ul>

    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo">MR. PET</h1>

        <h2>Contato</h2>

        <address>
          Rua 203, Cidade dos Pets, BR<br />

          <a class="footer__btn" href="mailto:example@gmail.com"
            >Mande um e-mail</a
          >
        </address>
      </div>

      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Sobre nós</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Quem nós somos?</a>
            </li>

            <li>
              <a href="#">Trabalhe conosco</a>
            </li>

            <li>
              <a href="#">FAQ</a>
            </li>
          </ul>
        </li>

        <li class="nav__item">
          <h2 class="nav__title">Legal</h2>

          <ul class="nav__ul">
            <li>
              <a href="#">Política de privacidade</a>
            </li>

            <li>
              <a href="#">Termos de uso do website</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="legal">
        <p>&copy; 2019 MR.PET. Todos os direitos reservados.</p>

        <div class="legal__links">
          <span>Made by the IFPB MR.PET team</span>
        </div>
      </div>
    </footer>
     <script src="javascripts/script.js" type="module"></script>
  </body>
</html>
