<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>MR. PET</title>
  <link rel="apple-touch-icon" sizes="180x180" href="iconpg\apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="iconpg\favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="iconpg\favicon-16x16.png">
  <link rel="manifest" href="iconpg\site.webmanifest">
</head>

<body>
  <hr id="top">
  <div id="headiv">
    <h2 class="titley">Agende aqui a consulta do seu pet</h2>
    <div class="toolbar">
      <div class="buttons">
        <a href="/"
        ><button class="toolbar-button">Produtos</button></a
      >
      <a href="/appointments"
        ><button class="toolbar-button">Consulta</button></a
      >
      <a href="/baths"><button class="toolbar-button">Banho</button></a>





      </div>
    </div>
  </div>



  <div class="toolbar">

    <div class="buttons">




      <div class="button-circle">
        <div class="button-wrapper">
          <a href="consu.html"><span class="iconify" id="peopleimgs"
              data-icon="material-symbols:person-outline"></span></a>
        </div>
        <p class="button-label">Dra. Julia</p>
      </div>
      </a>

      <div class="button-circle">
        <div class="button-wrapper">
          <a href="consu.html"><span class="iconify" id="peopleimgs"
              data-icon="material-symbols:person-outline"></span></a>
        </div>
        <p class="button-label">Dra. Ana</p>
      </div>
      </a>

      <div class="button-circle">
        <div class="button-wrapper">
          <a href="consu.html"><span class="iconify" id="peopleimgs"
              data-icon="material-symbols:person-outline"></span></a>
        </div>
        <p class="button-label">Dr. Pessoa</p>
      </div>






    </div>
  </div>
  </div>
  <h3>Escolha o veterinário que você prefere<br> na hora da consulta do seu pet</h3>

  <script src="./js/main.js" type="module"></script>

  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
</body>

</html>