body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #ff8800;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  label {
    font-size: calc(14px + .5vw);
    margin-bottom: calc(10px + .5vw);
  }
  
  input[type="text"],
  input[type="password"] {
    padding: calc(10px + .5vw);
    margin-bottom: calc(20px + .5vw);
    border-radius: calc(5px + .5vw);
    border: solid black;
  }
  
  input[type="submit"] {
    background-color: #c559b0;
    color: #fff;
    padding: calc(10px + .5vw);
    border-radius: calc(5px + .5vw);
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #ff8800;
  }